<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 가입</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/member.css}">
<script th:src="@{/js/board.js}"></script>
</head>
<body>
	<header th:replace="~{/header_footer/HeaderFooter.html::header}"></header>
	<section>
		<div id="section_wrap">
			<div class="word">회원가입</div>
			<div class="content">
				<form th:action ="@{/member/signup_confirm}" 
					name="signup_form" 
					method="post">
					<table style="width: 800px;">
					  <tr>
					    <th width ="100">아이디</th>
					    <td>
							<input type="text" 
							name="id" class="content" 
							placeholder="아이디를 입력하세요"/>
						</td>
					  </tr>
					  <tr>
					    <th>비밀번호</th>
					    <td>
							<input type="password" 
							name="pw" class="content" 
							placeholder="영문과 숫자만 입력하세요"/>
						</td>
					  </tr>
					  <tr>
					    <th>비밀번호확인</th>
					    <td>
							<input type="password" 
							name="pwchk" class="content" 
							placeholder="영문과 숫자만 입력하세요"/>
						</td>
					  </tr>
					  <tr>
					    <th>닉네임</th>
					    <td>
							<input type="text" 
							name="nickname" class="content" 
							placeholder="영문 혹은 한글 닉네임 입력"/>
						</td>
					  </tr>
					  <tr>
					    <th>Email</th>
					    <td>
							<input type="text" 
							name="mail" class="content" 
							placeholder="@를 포함하여 입력하세요"/>
						</td>
					  </tr>
					  <tr>
					    <th>전화번호</th>
					    <td>
							<input type="tel" 
							name="phone" class="content" 
							placeholder="000-0000-0000의 형식으로 입력하세요"/>
						</td>
					  </tr>
					  <tr>
					    <td colspan="2">
					    	<input type="button" value="회원가입"
					    	onclick="signupForm();">
					    	<input type="reset" value="취소">
					    </td>
					  </tr>

					</table>

				</form>
			</div>
		</div>
	</section>
<footer th:replace="~{/header_footer/HeaderFooter.html::footer}"></footer>
    <script th:if="${msg}">
        alert('[[${msg}]]');
    </script>
</body>
</html>