@charset "UTF-8";

* {
	margin: 0; padding: 0;
}

a {
	color: #404040;
	text-decoration: none;
}

li {
	list-style: none;
}

input {
	width: 300px;
	padding: 10px;
	border: none;
	outline: none;
	margin: 3px;
	background-color: inherit;
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
	width: 150px;
	cursor: pointer;
}