<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 가입</title>
<Link rel="stylesheet" th:href="@{/css/common.css}">
<Link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<Link rel="stylesheet" th:href="@{/css/home.css}">
<Link rel="stylesheet" th:href="@{/css/member.css}">
<script th:src="@{/js/member.js}"></script>
</head>
<body>
	<header th:replace="~{/include/header_nav_footer.html::header}"></header>
	<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
	<section>
		<div id="section_wrap">
			<div class="word">전체 회원 목록</div>
			<div class="content">
			<table  style="width: 900px;">
			  <tr>
			    <th>번호</th>
			    <th>ID</th>
<!-- 			    <th>비밀번호</th> -->
			    <th>이메일</th>
			    <th>전화번호</th>
			    <th>가입일</th>
			    <th>수정일</th>
			  </tr>
			  <tr th:each="li : ${list}"
			    th:onclick="|location.href='@{/member/memberInfo(id=${li.id})}'|"
			    style="cursor:pointer">
			    <td th:text="${li.no}"></td>
			    <td th:text="${li.id}">
			    </td>
<!-- 			    <td th:text="${li.pw}"></td> -->
			    <td th:text="${li.mail}"></td>
			    <td th:text="${li.phone}"></td>
			    <td th:text="${li.reg_date}"></td>
			    <td th:text="${li.mod_date}"></td>
			  </tr>
			</table>

			</div>
		</div>
	</section>
	<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
		<script th:if="${msg}">
			alert('[[${msg}]]')
		</script>
</body>
</html>