<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>도서 대여 정보</title>
</head>
<body>
	<h2>도서 대여 정보</h2>
	<ul>
	    <li th:each="title : ${titles}">
	        <p>도서명 : 
	        	<span th:text="${title}"></span>
	        </p>
	    </li>
	
	    <li th:each="author : ${authors}">
	        <p>저자 : 
	        	<span th:text="${author}"></span>
	        </p>
	    </li>
	
	    <li th:each="isbn : ${isbns}">
	        <p>ISBN : 
	        	<span th:text="${isbn}"></span>
	        </p>
	    </li>
	
	    <li th:each="user : ${users}">
	        <p>대여자 : 
	        	<span th:text="${user}"></span>
	        </p>
	    </li>
	</ul>

	
</body>
</html>